 html,
 body {
   background-color: black;
   width: 100vw;
   height: 100%;
   font-size: 100%;
   margin: 0;
   padding: 0;
   background: url("https://images.unsplash.com/photo-1537983280110-5c8ac0d5418c?ixlib=rb-0.3.5&s=0dcc7ce675f48de13f44480e197e0722&auto=format&fit=crop&w=1950&q=80");
   text-align: left;
   font-family: 'Titillium Web', sans-serif;
   color: #192529;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 .grid-container {
   order: 3;
   margin: 5px;
   padding: 0;
   display: grid;
   grid-template-columns: repeat(3, 15vh);
   grid-template-rows: repeat(3, 15vh);
   grid-template-areas: ". . ."". . ."". . .";
   font-size: 200%;
   grid-gap: 0;
   align-items: center;
   justify-items: center;
   background: rgba(58, 58, 58, 0.651);
 }

 .grid__panel {
   width: 15vh;
   height: 15vh;
   border: 1px solid white;
   
   line-height: 3em;
   float: left;
   margin: 0;
   text-align: center;
   font-weight: bold;
   color: #ffffff;
   background: url('');
 }

  @media all and (-ms-high-contrast: none) {
   .grid-container {
     display: -ms-grid;
     -ms-grid-columns: 15% 15% 15%;
     -ms-grid-rows: 15% 15% 15%;
   }
 }

 .wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
 }

 .score {
   order: 2;
   text-align: left;
   line-height: 0.5em;
 }

 .game-options {
   order: 4;
   align-self: auto;
   margin: 0;
   padding-bottom: 10px;
   text-align: center;

 }

.blur-element {
   filter: blur(2px);
 }


 footer {
   position: absolute;
   bottom: 0;
   order: 10;
   width: 100%;
   height: 60px;
   text-align: center;
 }

 footer>a {
   color: #ffffff;
   line-height: 0.5em;
   text-decoration: none;
 }


 .msg {
   font-weight: normal;
   font-size: 150%;
   text-align: center;
   order: 2;
   margin: 0;

 }

 .titles {
   align-self: auto;
   height: auto;
   order: 0;
   padding: 0;
   margin: 0;
 }

 .prevent-click>div {
   pointer-events: none;
 }

 .version {
   font-size: 40%;
   font-weight: normal;
 }

 /*Button main style from https://css-tricks.com/overriding-default-button-styles/ */
 button {
   width: 90%;
   display: inline-block;
   border: none;
   padding: 1rem 2rem;
   margin: 0;
   text-decoration: none;
   background: #0069ed;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 1rem;
   cursor: pointer;
   text-align: center;
   transition: background 250ms ease-in-out,
     transform 150ms ease;
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button:hover,
 button:focus {
   background: #0053ba;
 }

 button:focus {
   outline: 1px solid #fff;
   outline-offset: -4px;
 }

 button:active {
   transform: scale(0.99);
 }